language: "ruby"
sudo: false
rvm:
  - "1.9.3"
  - "2.0.0"
  - "2.1.10"
  - "2.2.6"
  - "2.3.3"
  - "2.4.0"
  - "ruby-head"
matrix:
  allow_failures:
    - rvm: "ruby-head"
before_install:
  - "gem update bundler"
  - "bin/setup"
notifications:
  email:
    - ogataken@gmail.com
